NODE_ENVIRONMENT=development

DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_NAME=solus_development
DATABASE_USER=solus_user_development
DATABASE_PASSWORD=<your-database-password>
DATABASE_URL=postgresql://solus_user_development:<your-database-password>@localhost:5432/solus_development

SERVER_PORT=8080
SERVER_JWT_SECRET=<your-jwt-secret>

BUCKET_NAME=solus_bucket
BUCKET_REGION=solus_region
BUCKET_ACCESS_KEY=<your-access-key>
BUCKET_SECRET_ACCESS_KEY=<your-secret-access-key>
